<h1>Sign Up</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div>
      <h4>
        Please fix <%= pluralize(@user.errors.count, "error") %> so we can sign you up:</h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg.downcase %></li>
          <% end %>
        </ul>
    </div>
  <% end %>



<div class signupbox>
  <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.text_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= f.submit "SIGN UP", class: "btn btn-primary" %>
  </div>

<% end %>
</div>

