<div class="containerboxers">

  <div class="thumbnail">
      <div class="caption">
        <h2>Dinner Details</h2>
        <hr>
        <div class="splitbox">
        <div class="row">
            <div class="col-md-6" id="rule">
            <div class="detailimage">
                <img src= <%= @event.image_url %> image_urlwidth="100%">
            </div>
            </div>

            <div class="col-md-6" id="deets">
                <%= @event.event_name %><br>
                <%= @event.event_date %><br>
                <%= @event.event_time %><br>
                <%= @event.venue_name %><br>
                <%= @event.address %><br>
                <%= @event.phone %><br>
                <%= @event.category %><br>
                <a href=<%= @event.venue_url %> ><%= @event.venue_url %></a><br>
            </div>
            </div>

      </div><hr>
          <div class="form-group">
            <%= link_to "Back", :back, class: "btn btn-primary btn-lg" %>
          </div>
      </div>
</div>

