<section class="top75">
  <h2><span id="date"><%= @plan.date %></span> | <%= @plan.location %></h2>
</section>

<section id="event-section">
  <h3>Pick your event - <span id="category"><%= @plan.category %></span>:</h3>
  <ul id="event-list"></ul>
</section>

<section id="dinner-section">
  <h3>Pick your restaurant - <span id="cuisine"><%= @plan.cuisine %></span> cuisine:</h3>
  <ul id="dinner-list"></ul>
</section>

<div class="form-group">
  <%= link_to "Done", plan_path(@plan), class: "btn btn-primary" %>
</div><br>