<h1>Plan a new date</h1>

<%= form_for @plan do |f| %>

<div class signupbox>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>
    <%= f.time_field :time, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= f.submit "Plan my date!", class: "btn btn-primary"  %>
  </div> 

<% end %>