<div class="signupbox">
  <h1>Plan a new date</h1>

  <%= form_for @plan do |f| %>

    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control"  %>
    </div>

    <div class="form-group">
      <label for="sel1">
        Select an event type:
      </label>
      <%= f.select(:category, options_for_select(Event.categories)) %>
    </div>

    <div class="form-group">
      <label for="sel1">
        Select a cuisine:
      </label>
      <%= f.select(:cuisine, options_for_select(Dinner.cuisines)) %>

    <div class="form-group">
      <%= f.submit "Plan my date!", class: "btn btn-primary"  %>
    </div> 

  <% end %>
</div>