<div class="containerboxers">
  <div class="thumbnail">
    <div class="caption">

        <div class="splitbox">
          <div class="row">
          <h3 class="reviewsummary">Date: <%= @plan.date.strftime("%a, %b %-d %Y") %></h3>
          <h3 class="reviewsummary">Location: <%= @plan.location %> </h3><hr>
          

          <div class="col-md-6" id="box1">
            <div id="SummaryEvent">
              <h3 class="reviewsummary">Event</h3>
                <img src= <%= @plan.event.image_url %> image_urlwidth="100%"><br>
                <%= @plan.event.event_name %><br>
                <%= @plan.event.address %>
              <p class="big_blue_button"><a href="#" class="btn btn-primary btn-lg" role="button">Details</a></p> 
            </div>
          </div>

          <div class="col-md-6">
            <div id="SummaryDinner">
              <h3 class="reviewsummary">Dinner</h3>
                  <img src= <%= @plan.dinner.image_url %> image_urlwidth="100%"><br>
                  <%= @plan.dinner.name %><br>
                  <%= @plan.dinner.address %>
              <p class="big_blue_button"><a href="#" class="btn btn-primary btn-lg" role="button">Details</a></p>              
            </div>
          </div>
        </div>
        <hr>
        <p class="big_blue_button"><a href="#" class="btn btn-primary btn-lg" role="button">Back</a></p>
    </div>
  </div>
</div>