<div class="containerboxers">

  <div class="thumbnail">
      <div class="caption">
        <h2>Dinner Details</h2>
        <hr>
        <div class="splitbox">
        <div class="row">
            <div class="col-md-6" id="rule">
            <div class="detailimage">
                <img src= <%= @dinner.image_url %> image_urlwidth="100%">
            </div>
            </div>

            <div class="col-md-6" id="deets">
                <%= @dinner.name %><br><br>
                <%= @dinner.address %><br><br>
                <% @dinner.hours.split(",").each do |time| %>
                <%= time %><br>
                <% end %>
                <br><%= @dinner.phone_number %>
                <p>Alcohol: <%= @dinner.alcohol %></p>
                <p>Cuisine: <%= @dinner.cuisine %></p>
            </div>
            </div>

      </div><hr>
            <p class="big_blue_button"><a href="#" class="btn btn-primary btn-lg" role="button">Back</a></p>

      </div>
</div>

